*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    color:var(--text-color);
   
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

}

:root{
    --text-color:white;
  /*  --background-url:url(./assets/BGDarkTheme.jpg);*/
    --background-url:url(./assets/BGDarkMobile.jpg);
    --cor-de-fundo-botao: rgba(255, 255, 255, 0.1);
    --borda-botao: 1px solid rgba(255, 255, 255, 0.5);
    --sombra-icone:rgba(255, 255, 255, 0.2);
    --hover-botao:rgba(255, 255, 255, 0.05);
    --switch-background: white url(./assets/moon.svg) no-repeat center;
    --switch-borda-hover: 0px 2px 8px rgba(255, 255, 255, 0.7);
}

.light{
    --text-color:black;
   /* --background-url:url(./assets/BGLightTheme.jpg);*/
    --background-url:url(./assets/BGLightMobile.jpg);
    --cor-de-fundo-botao: rgba(0, 0, 0, 0.1);
    --borda-botao: 1px solid rgba(0, 0, 0, 0.5);
    --sombra-icone:rgba( 0, 0, 0, 0.1);
    --hover-botao:rgba( 0, 0, 0, 0.05);
    --switch-background: white url(./assets/sun.svg) no-repeat center;
    --switch-borda-hover: 0px 2px 8px rgba( 0, 0, 0, 0.5);
}

body{

    
      /*  background: color image repeat position/size  ( agrupando propriedades do background)*/
    background-image:var(--background-url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 100vh;  
    
    
}
/*  #id  # e usado como seletor para id's*/
#container{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
    padding: 0px 24px;    

   
    position: relative;
    width: 100%;
    max-width: 588px;
    
    margin: 56px auto 0px;
    

      /*  possibilita o meio da div posicionar no meio ta tela na posição horizontal*/ 
       /*     left: calc(50% - 588px/2); */

   
}

#profile{
    text-align: center;
    padding: 24px;
    gap: 8px;       
}

#profile img{

    display: block;
    width: 112px;
    height: 112px;
    margin-bottom: 8px;         
}

#profile p{

    font-weight: 400;  
    line-height: 24px;    
}

#switch{

    width: 64px;    
    position: relative;  
    margin: 4px auto;  
}

#switch button{

    width: 32px;
    height: 32px;
    background:var(--switch-background);
    border: 0;
    border-radius: 50%;
    padding: 8px;
    gap: 8px;
   

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);  
    animation: slide-back 0.2s;
}

.light #switch button{

    animation: slide-in 0.2s forwards;
}

#switch button:hover{

    width: 32px;
    height: 32px;
    background:var(--switch-background);
    border:0;
    border-radius: 50%;    
    box-shadow:var(--switch-borda-hover);    
}

#switch span {
    
        display: block;
        width: 64px;
        height: 24px;
        background:var(--cor-de-fundo-botao);
        border: var(--borda-botao);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 9999px;
}

ul {

    
    list-style: none;
    display: flex;
    flex-direction: column;
    
    padding: 24px;
   
    gap: 16px;

    
}

ul li{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px 24px;
    height: 56px;
    width: 312px;

    background:var(--cor-de-fundo-botao);
    border:var(--borda-botao);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 8px;
}

ul li a{

    
    background-color: transparent;   
    color:var(--text-color);
    text-decoration: none;
    transition: all 0.2s;
}

ul li:hover{

    background: var(--hover-botao);
    border: 2px solid var(--text-color);
}

#icones{
    padding: 24px 0px;
    display: flex;
    gap: 16px;
    justify-content: center;
    

    transition: all 0.2s;
}

#icones a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
}

#icones a:hover{
    background:var(--sombra-icone);
    padding: 16px;    
}

footer{
    display: flex;
    justify-content: center;
    text-align: center;

    font-weight: 400;
    font-size: 14px;
    color:var(--text-color);

    height: 74px;
    width: 540px;
    padding: 50px 24px 24px 24px;   
    gap: 8px;
}

@media(min-width:700px){
    :root{
       /* --background-url:url(./assets/BGDarkMobile.jpg);*/
        --background-url:url(./assets/BGDarkTheme.jpg);
    }

    .light{
        --background-url:url(./assets/BGLightTheme.jpg);
    }

}

@keyframes slide-in {
    from {
      left: 0;
    }
    to {
      left: 50%;
    }
  }
  
  @keyframes slide-back {
    from {
      left: 50%;
    }
    to {
      left: 0;
    }
  }